<hr>
<h1>Manager page</h1>

<form action="/managers/m_login_complete" method="post">
  <p>ID : <input type="text" name="managername"></p>
  <p>Password : <input type="password" name="password"></p>
  <input type="submit" value="Sign in">
</form>

