<div>
  <h2>Manager page</h2>
</div> 
<hr>

<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-4">
<h3 class="form-heading">Input product</h3>
<form action="/clothes/write_complete" method="post" enctype="multipart/form-data">
	<p>+ Main Category: <select name="product_category">
		<option value="Man">Man</option>
		<option value="Woman">Woman</option>
		<option value="Accessory">Accessory</option>
	</select></p>
	<p>+ Sub Category : <select name="product_category2">
		<option value="tshirt">티셔츠</option>
		<option value="shirt">셔츠</option>
		<option value="cardigan">가디건</option>
		<option value="jacket">자켓</option>
		<option value="pants">팬츠</option>
		<option value="shorts">반바지</option>
		<option value="denim">데님</option>
		<option value="homewear">홈웨어</option>
		<option value="accessory">엑세서리</option>
		<option value="sale">Sale</option>
	</select>
	<p><input class="form-input" type="text" name="product_title" placeholder="input title"></p>
	<p><input class="form-input" type="integer" name="product_price" placeholder="input price"></p>
	<p><textarea class="form-textarea" name="product_content" placeholder="input contents"></textarea></p>

	<p>+ upload image</p>
	<p><input class="form-input" type="text" name="product_image_url"></p>
	<input class="btn btn-lg btn-block" type="submit" value="Add">
</form>
</div>
<div class="col-md-3">
</div>
</div>
