<!DOCTYPE html>
<html>
<div class="container">
<head>
  <%= render :partial => "layouts/header"%>
</head>
<body>
	<div class="side_bar">
		<%= render :partial => "layouts/sidebar"%>
	</div>
	<div class="list_body">
		<%= yield %>
	</div>
		
</body>
</div>
</html>
